* {
  text-align: center;
  align-items: center;
  font-family: helvetica;
}

body {
  background: black;
}

a {
  color: white;
}

.content {
  width: 70%;
  margin: 0 15%;
  /*
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 0;
  margin-bottom: 0;
  */
  background: white;
}

.broadway {

  font-weight: bold;
  color: white;
  background-image: url("../css/resources/bigbuilding.png");
  background-position: center;
  background-size: cover;
}

.broadway h1 {
  font-size: 70px;
  margin-bottom: 70px;
}

.broadway a {
  font-size:18px;
}

.broadway li {
  margin-bottom: 18px;
  list-style: none;
}

.process {
  font-size: 32px;
  font-weight: bold;
}

.identify {
  font-size: 23px;
  font-weight: bold;
}

.smalltext {
  font-size: 14px;
}

.designed {
  background-image: url("../css/resources/bigbuilding.png");
  font-size: 23px;
  font-weight: bold;
  color: white;
}


.footer {
  font-size: 11px;
  color: white;
  text-align: left!important;
  background-color: dimgray;

}

.footer li {
  display: inline;
}
